@use '../variables' as var;
@use '../mixins' as mix;

.workout-output {
  // align-self: stretch;

  background-color: var.$primary-color;
  padding: 2.4rem;
  border-radius: 0 0 1rem 1rem;

  @include mix.make-flex($direction: column, $gap: 3.6rem);

  &__filters {
    @include mix.make-flex($direction: column, $gap: 1.2rem);
  }

  &__filter {
    @include mix.make-flex($align: center, $justify: space-between);

    p {
      font-size: 2rem;
    }
  }

  &__items {
    @include mix.make-flex($direction: column, $justify: center, $gap: 2.4rem);
  }

  &__item {
    @include mix.make-flex($direction: column, $gap: 3.2rem);
    padding: 2.4rem;

    & > p {
      font-size: 2.4rem;
      font-weight: 600;
    }

    &-stats {
      @include mix.make-flex($justify: space-around, $align: center);

      p {
        font-size: 1.8rem;
      }
    }
  }
}
