@use '../variables' as var;
@use '../mixins' as mix;

.container {
  max-width: var.$container-width;
  padding: 1.6rem 3.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mix.make-grid(40fr 60fr, $align: center);
}
