@use '../variables' as var;
@use '../mixins' as mix;

.container {
  max-width: var.$container-width;
  padding: 1.6rem 3.2rem;
  margin: 5rem auto;

  @include mix.make-grid($columns: 1fr, $align: center);
}
